// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.post_original_block {
    margin: 10px 0px 10px 5px;
	background-color: #96c8f0;
    font-style: normal;
    font-size: 16px;
}
